<section class="container">
  <h2 class="fw-semibold">Customer Data</h2>
  <mat-table class="text-center mt-4" [dataSource]="transactionData">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="py-2 border-2 rounded-start-2"
        >ID</mat-header-cell
      >
      <mat-cell *matCellDef="let item" class="border-2 tdd">{{
        item.id
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="py-2 border-white border-2"
        >Name</mat-header-cell
      >
      <mat-cell *matCellDef="let item" class="border-2 tdd">{{
        getCustomerName(item.customer_id)
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer_id">
      <mat-header-cell *matHeaderCellDef class="py-2 border-white border-2"
        >Customer ID</mat-header-cell
      >
      <mat-cell *matCellDef="let item" class="border-2 tdd">{{
        item.customer_id
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef class="py-2 border-white border-2"
        >Amount</mat-header-cell
      >
      <mat-cell *matCellDef="let item" class="border-2 tdd">{{
        item.amount
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="py-2 th2 border-2 rounded-end-2"
        >Date</mat-header-cell
      >
      <mat-cell *matCellDef="let item" class="border-2 tdd">{{
        item.date | date : "dd/MM/yyyy"
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="py-2 th2 border-2 rounded-end-2"
        >Actions</mat-header-cell
      >
      <mat-cell *matCellDef="let item" class="border-2 tdd">
        <button mat-icon-button aria-label="Example icon-button with a menu">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</section>
